.page-header {
  padding-top: 30px;
  padding-bottom: 30px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  & .button {
    padding: 10px 15px;
    font-family: var(--font-lato);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: var(--text-color-white);

    @media screen and (min-width: 850px) {
      padding: 21px 25px;
    }
  }

  & .button-transparent {
    color: var(--button-transparent-text);
    padding: 10px 32px;
    border: 1px solid var(--btn-border);
    background-color: transparent;
    transition: background-color var(--transition-duration);

    &:focus,
    &:hover {
      background-color: var(--btn-color-transparent-hover);
    }

    @media screen and (min-width: 850px) {
      padding: 21px 44px;
    }
  }

  .container {
  }

  .page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .main-nav {
    display: flex;

    @media screen and (max-width: 767.98px) {
      display: none;
    }
  }

  .logo {
    @extend %link;
    font-family: var(--font-lato);
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.194;
    color: var(--logo);

    &::before,
    &::after {
      content: '';
      pointer-events: none;
      position: absolute;
      border-radius: 50%;
      top: 0;
      left: 0;
      border: 1px solid var(--circle);
      width: 585px;
      height: 585px;
    }

    &::before {
      transform: translate(-39%, -63%);
    }

    &::after {
      transform: translate(-50%, -57%);
    }
  }

  @media screen and (max-width: 400px) {
    .logo::after,
    .logo::before {
      display: none;
    }
  }

  .site-nav {
    display: flex;
    column-gap: 20px;

    // .site-nav__item
    &__item {
      @extend %list;
      display: block;
    }

    // .site-nav__link
    &__link {
      @extend %link;
      font-family: var(--font-lato);
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.22;
      color: var(--text-color);
      transition: color var(--transition-duration);
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: var(--link-after-hover);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }

      &:focus,
      &:hover {
        color: var(--text-color-green);
      }
    }
  }

  .pg-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @media screen and (max-width: 767.98px) {
      display: none;
    }

    @media screen and (min-width: 950px) {
      flex-direction: row;
    }
  }
}
