.pathway {
  @extend %section-padding;

  @media screen and (max-width: 768px) {
    padding-top: 50px;
    padding-bottom: 0;
  }
}

.pathway-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  flex: 1 1 50%;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 30px;
  }
}
.pathway-left-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--img-bcg-color);
  border-radius: 20px;
  padding: 66px 30px;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 1200px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 1450px) {
    padding: 99px 40px;
  }

  &::before,
  &::after {
    content: '';
    pointer-events: none;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    border: 1px solid var(--circle);
    width: 585px;
    height: 585px;
  }

  &::before {
    transform: translate(-41%, 37%);
  }
  &::after {
    transform: translate(-40%, 49%);
  }

  // .pathway-left-section__img
  &__img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    z-index: 2;
  }
}
.pathway-right-section {
  @media screen and (min-width: 1200px) {
    flex: 1 1 50%;
  }

  @media screen and (min-width: 1450px) {
    max-width: 600px;
  }

  & .main-text {
    margin-top: 32px;
    margin-bottom: 48px;
  }
  // .hw-left-section__list
  &__list {
    @media screen and (min-width: 1200px) {
      max-width: 400px;
    }
  }
}

.spoiler {
}

.spoiler__item {
  background: var(--spoiler-item);
  border-radius: 10px;
  transition: var(--transition-duration);

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &:focus,
  &:hover {
    border: 1px solid var(--bcg-color-green);
  }
}

/* скрываем чекбоксы и блоки с содержанием */
.spoiler__hide,
.spoiler__hide + .spoiler__label ~ .spoiler__text {
  display: none;
}
/* вид текста .spoiler__label */
.spoiler__hide + .spoiler__label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 24px;
  line-height: 177%;
  color: var(--spoiler-label);
  padding: 24px 30px;
}
/* вид текста .spoiler__label при активном переключателе */
.spoiler__hide:checked + .spoiler__label {
  color: var(--text-color-green);
}
/* когда чекбокс активен показываем блоки с содержанием  */
.spoiler__hide:checked + .spoiler__label + .spoiler__text {
  display: block;
  background: var(--spoile--hide);
  padding: 10px;
  border-radius: 10px;
  /* чуточку анимации при появлении */
  -webkit-animation: fade ease-in 0.5s;
  -moz-animation: fade ease-in 0.5s;
  animation: fade ease-in 0.5s;
}
/* анимация при появлении скрытых блоков */
@-moz-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.spoiler__hide + .spoiler__label:before {
  color: var(--bcg-color-green);
  content: url(./images/main-page/pathway/arrow-down.svg);
  display: block;
  float: right;
  font-size: 24px;
  font-weight: bold;
  height: 16px;
  line-height: 16px;
  margin: 3px 5px;
  text-align: center;
  width: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.spoiler__hide:checked + .spoiler__label:before {
  content: url(./images/main-page/pathway/arrow-up.svg);
}
