.email-form {
  max-width: 533px;
  border: none;
  display: flex;
  padding: 6px;
  gap: 5px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 400px) {
    display: flex;
    flex-direction: column;
  }

  // .email-form__input
  &__input {
    border: none;
    border-radius: 10px;
    flex: 1 1 auto;
    padding: 0 20px;
    background-color: var(--form);

    @media screen and (max-width: 400px) {
      padding: 20px 20px;
    }

    &::placeholder {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.11;
      color: var(--ef-text-color);
    }
  }
  // .email-form__btn
  &__btn {
    font-weight: 500;
    line-height: 1.11;
    padding: 22px 25px;
    color: var(--text-color-white);

    @media screen and (max-width: 400px) {
      align-self: stretch;
      padding: 20px 0;
      margin: 0;
    }

    @media screen and (max-width: 767.98px) {
      padding: 13px 15px;
    }
  }
}
